<div class="redemption">
	<div class="redemption_text">
		<%= redemption.gift_card.class.model_name.human %>
	</div>
	<div class="redemption_value">
		<%= cost_to_currency(redemption) %>
	</div>
</div>
