<% provide(:title, "Shopping cart") %>

<%= content_tag(:h1, "Shopping cart") %>

<div class="cart_container">
	<% current_cart.each_value do |cart_item| %>
		<%= render 'cart_item', cart_item: cart_item %>
	<% end %>
</div>