<tr>
	<td>
		<% if allocation.id.present? %>
			<%= link_to "Order ##{allocation.order.id}", seller_order_path(allocation.order) %>
		<% else %>
			<%= link_to "Details", product_allocations_path(allocation.product, params.except(:by_product))
			%>
		<% end %>
	</td>
	<td>
		<%= allocation.product.name %>
	</td>
	<td>
		<%= allocation.quantity %>
	</td>
</tr>