<%

title=["Allocated stock "]
title<<"<small>for orders with status #{params[:order_status]} </small>" if params[:order_status] and params[:order_status].in?(Order.statuses.keys)
title<<"<small>for #{@allocations.first.product.name} </small>" if params[:product_id] and @allocations.first
title<<"<small>grouped by product </small>" if params[:by_product]

title=title.join

%>

<% provide(:title, "Allocated stock") %>

<%= filter_bar(allocation_filter) %>

<%= content_tag(:h1, title.html_safe) %>

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>
				Details
			</th>
			<th>
				Product
			</th>
			<th>
				Quantity
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<%= render @allocations %>
	</tbody>
</table>
