<% provide(:title, "Currency maintenance") %>

<%= content_tag(:h1, "Currency maintenance") %>

<div>
	<ul class="currency_list">
		<%= render @currencies %>
		<li id="currency_new"><%= link_to "Create new", new_currency_path, remote: true, class: "btn btn-default" %></li>
	</ul>
</div>