<div class="form-group">
	<%= f.label :password, class: "control-label" %>
	<%= f.password_field :password, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :password_confirmation, class: "control-label" %>
	<%= f.password_field :password_confirmation, class: "form-control" %>
</div>
