<div class="col-md-3 col-sm-4 col-xs-6">
	<div class="form-group">
	  <%= f.label :currency, class: "control-label" %>
	  <%= f.collection_select :currency_id, Currency.all, :id, :iso_code, {}, class: "form-control currency"%>
	</div>
</div>
<div class="col-md-9 col-sm-8 col-xs-6">
	<div class="form-group">
	  <%= f.label :unit_cost, class: "control-label" %>
	  <%= f.text_field :unit_cost, class: "form-control" %>
	</div>
</div>
<div class="col-md-12">
<p class="help-block">Unit cost is the item cost in the smallest subdivision of the currency (eg.: 1000 pence for an item costing £10) <br/>
This is the cost the user will be charged.  Ensure the decimal places setting in the currency definition is correct so that it displays properly for the purchaser
</p>
</div>
