<div id="stock_level_<%= css_id(product) %>">
	<% if product.stock_levels.any? %>
		<table class="table table-striped table-condensed stock_level">
			<%= render 'stock_levels/stock_level_header' %>
			<tbody>
				<%= render partial: 'stock_levels/stock_level', collection: product.stock_levels %>	
			</tbody>
		</table>
	<% end %>
</div>
