<%
provide(:title, t('.title'))
provide(:heading, t('.title'))
%>

<%= link_to t('.redeem'), find_gift_cards_path, data: {modal_target: '#modal'}, class: "btn btn-default" %>

<div class="gift_card_list">
	<%= render @gift_cards %>
</div>