<div class="panel panel-default">
	<div class="panel-heading">
		<%= gift_card_product.name %>
		<%= action_bar(gift_card_product, dropdown: true, remote: true, namespace: :seller) do |action| %>
			<%= action.item "Add stock", new_product_stock_level_path(gift_card_product) %>
		<% end %>
	</div>
	<%= render 'stock_levels/product_stock_level', product: gift_card_product %>
</div>
