<div class="address_wrapper">
	<div class="address_entry">
		<div class="address_label"><%= mode.to_s.titleize %> address</div>
		<div class="address_body">
			<address>
				<%= simple_format order.send(mode).try(:address) %>
			</address>
		</div>
	</div>
</div>
