# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b6afc9cde7dd419970f20527cfb20a4a53057ec775ff24fbf1a022c0995b80cd18aee586abc1cc2d563644210c389c589ff5db41a7c8fc5f07bd8b31a0c42c3d
  stripe_publishable_key: <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
  stripe_secret_key: <%= ENV['STRIPE_SECRET_KEY'] %>
  from_email: test@example.com

test:
  secret_key_base: 44d342d6d1a23f7d70dd0aa9ae0633bc2a82970f5f2ee3a30f01a20cf995c2a7581fba032c06f6c11ceb7d1b0023dad3d1747a92c6ddb59a2dc4c136ade02a4f
  stripe_publishable_key: <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
  stripe_secret_key: <%= ENV['STRIPE_SECRET_KEY'] %>
  from_email: test@example.com

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  s3_bucket: <%= ENV['S3_BUCKET_NAME'] %>
  s3_endpoint: <%= ENV['S3_ENDPOINT'] %>
  s3_access_key: <%= ENV['AWS_ACCESS_KEY_ID'] %>
  s3_secret_key: <%= ENV['AWS_SECRET_ACCESS_KEY'] %>
  stripe_publishable_key: <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
  stripe_secret_key: <%= ENV['STRIPE_SECRET_KEY'] %>
  from_email: <%= ENV['FROM_EMAIL'] %>
