<div class="row">
	<div class="cart_product">
	</div>
	<div class="cart_actions">
	</div>
	<div class="cart_line_item text-right">
		Total cost:
	</div>
	<div class="cart_line_cost text-right">
		<%= @cart.costs.map(&method(:cost_to_currency)).join if @cart %>
	</div>
	<div class="clearfix"></div>
</div>
</div>
</div>
