<tr>
	<td><%= postage_cost.from_weight %></td>
	<td><%= postage_cost.to_weight %></td>
	<td><%= cost_to_currency(postage_cost) %></td>
	<td><%= link_to "Edit", edit_postage_cost_path(postage_cost) %></td>
</tr>