@import "bootstrap";

.field_with_errors {
  @extend .has-error;
}

.product_list {
	@extend .row;
}
.product_card {
	@extend .col-lg-4, .col-md-4, .col-sm-6, .col-xs-12;
}

.product_card_image {
	border: 1px solid grey;
	padding: 2px;
}

.action_bar {
	@extend .pull-right;
}

.cart_container>div:nth-child(odd) {
	background-color: $table-bg-accent;
}

.cart_product {
	@extend .col-md-4;
}

.cart_actions {
	@extend .col-md-3;
}

.cart_line_item {
	@extend .col-md-2;
}

.cart_line_cost {
	@extend .col-md-2;
}

.cart_save_button {
	@extend .col-md-1;
}

.cart_header>div {
	font-weight: bold;
}
