@import "bootstrap";

#flash {
	position: fixed;
	left: 50%;
	margin-left: -30%;
	width: 60%;
}

.field_with_errors {
  @extend .has-error;
}

.product_list {
	@extend .row;
}
.product_card {
	@extend .col-lg-4, .col-md-4, .col-sm-6, .col-xs-12;
}

.product_card_image {
	border: 1px solid grey;
	padding: 2px;
}

.action_bar {
	@extend .pull-right;
}

.filter_menu {
	@extend .pull-right;
	position: relative;
	>a {
		@extend .btn, .btn-default;
	}
}


.cart_container>div:nth-child(odd) {
	background-color: $table-bg-accent;
}

.cart_product {
	@extend .col-md-4;
}

.cart_actions {
	@extend .col-md-2;
}

.cart_line_item {
	@extend .col-md-2;
}

.cart_line_cost {
	@extend .col-md-2;
}

.cart_save_button {
	@extend .col-md-2;
}

.cart_header>div {
	font-weight: bold;
}

.order_item {
	@extend .panel;
}

.order_body {
	@extend .panel-body;
}

.order_id {
	@extend .panel-heading;
}

.order_status_cart {
	@extend .panel-info;
	>.order_id>a {
		color: inherit;
	}
}

.order_status_placed {
	@extend .panel-warning;
	>.order_id>a {
		color: inherit;
	}
}

.order_status_paid {
	@extend .panel-info;
	>.order_id>a {
		color: inherit;
	}
}

.order_status_dispatched {
	@extend .panel-success;
	>.order_id>a {
		color: inherit;
	}
}

.order_status_cancelled {
	@extend .panel-danger;
	>.order_id>a {
		color: inherit;
	}
}


.order_status {
	margin-left: 10px;
}

.order_summary {
	@extend .col-md-6, .col-sm-12, .col-xs-12;
}

.order_total {
	@extend .col-md-2, .col-sm-6, .col-xs-6;
}

.order_actions {
	@extend .col-md-4, .col-sm-6, .col-xs-6;
}

.currency_list>div:nth-child(odd) {
	background-color: $table-bg-accent;
}

.address_wrapper {
	@extend .col-md-offset-1, .col-md-4, .col-sm-6, .col-xs-12;
	margin-bottom: 20px;
}

.order_address {
	margin-top: 10px;
}

.address_entry {
	@extend .panel, .panel-info;
}

.address_label {
	@extend .panel-heading;
}

.address_body {
	@extend .panel-body;
}

.product_page_image_box {
	@extend .col-md-3, .col-sm-6, .col-xs-12;
}

.product_page_description {
	@extend .col-md-6, .col-sm-6, .col-xs-12; 
}

.product_page_cost {
	@extend .col-md-2, .col-sm-6, .col-xs-6;

}
.product_page_buy {
	@extend .col-md-1, .col-sm-6, .col-xs-6;
}

.carousel-caption>a {
	color: inherit;
}

.main_image_full {
	@extend .col-md-12;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}	
}