<div class="product_card">
	<div class="product_name"><%= link_to product.name, product %></div>
	<div class="product_description"><%= product.description if !product.description.blank? %></div>
</div>