<% provide(:title, "All products") %>

<%= content_tag(:h1, "All products") %>

<div class="product_list">
	<%= render @products %>
</div>

<div class="row">
	<div class="col-md-12"><%= will_paginate %></div>
</div>