<% provide(:title, @product.name) %>

<%= action_bar(@product, title: "Seller actions") if signed_in_seller? %>

<%= content_tag(:h1, @product.name) %>

<div class="clearfix"></div>

<div class="product_page_description">
	<%= @product.description %>
</div>