<div class="dropdown">
	<a id="subproduct-select" data-toggle="dropdown" href='#'>Please select</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="subproduct-select">
		<%= render partial: "line_items/sub_product", collection: sub_products %>
	</ul>
</div>
