<div class="dropdown" class="sub_product_choices">
	<button type="button" id="subproduct-select" data-toggle="dropdown" class="btn btn-default">Please select <span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="subproduct-select">
		<%= render partial: "line_items/sub_product", collection: sub_products %>
	</ul>
</div>
